.results {
    text-align: center;
}

.show .tab-flex-cont {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* This is a name you want to change later */

.actual-tab-content {
    width: 100%;
}

.tab-content div:nth-last-of-type(2) {
    flex: 1;
}

.exam-item, .result-item {
    background-color: white;
    min-height: 80px;
    height: auto;
    margin: 15px auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.exam-item>*, .result-item>* {
    padding: 0 10px;
}

.exam-item .course-code, .result-item .course-code {
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    width: 100px;
    line-height: 80px;
    vertical-align: middle;
}

.exam-item:nth-of-type(odd) .course-code, .result-cont:nth-of-type(odd) .course-code {
    background-color: #8F4747;
}

.exam-item:nth-of-type(even) .course-code, .result-cont:nth-of-type(even) .course-code {
    background-color: #D49E4E;
}

.exam-item .course-name, .result-item .course-name {
    flex-grow: 3;
    font-size: 1.6em;
}

.edit-exam, .create-exam {
    background-color: white;
    border: none;
    color: blue;
    cursor: pointer;
}

.edit-exam:hover {
    background-color: rgb(81, 81, 124);
    color: white;
}

.create-exam:hover {
    background-color: blue;
    color: white;
}

.edit-exam span, .create-exam span {
    font-size: 1.2em;
    margin: 0 4px;
}

.result-cont {
    margin: 20px auto;
}

.result-item {
    box-shadow: 1px 1px 2px 1px #ccc;
    min-height: 40px;
    cursor: pointer;
    margin: 20px auto 0;
}

.result-item:hover {
    box-shadow: 1px 1px 2px 1.3px #bbb;
}

.result-item .course-name {
    margin: 3px 0 5px;
}

.result-item .collapse-icon {
    font-size: 1.4em;
    vertical-align: middle;
}

.result-item .course-code {
    line-height: 40px;
}

.result-details {
    width: 90%;
    background-color: #f0ede8;
    margin: 0 auto 20px;
    padding: 20px;
    text-align: right;
}