header h1 {
    /* font-weight: 600;
    font-size: 2.5em; */
    color: #8F4747;
}

.tab-content.exam-details header {
    margin: 40px 0;
    /* text-align: center; */
}

#examForm .form-group {
    margin: 40px 0;
}

#examForm label:not(.radio), #examForm legend {
    font-size: 1.3em;
    display: block;
    width: 100%;
}

#examForm .input-group-addon {
    font-size: 1.3em;
}

#examForm footer {
    width: 100%;
    text-align: center;
}

#examForm button[type=submit] {
    width: 100%;
    color: white;
    background-color: #8F4747;
}